.env
__pycache__/
*.pyc
*.pyo
.DS_Store
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
assets/charts/*
!assets/charts/.gitkeep
src/models/__pycache__/
*.pkl
*.joblib
.venv/
venv/
env/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
